<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
        <title>Home</title>
</head>

<header class="w3-container w3-top w3-hide-large w3-indigo w3-xlarge w3-padding">
    <%- include('./partials/header'); %>
</header>

<nav class="w3-sidebar w3-indigo w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;"
    id="mySidebar">
    <%- include('./partials/navbar') %>
</nav>

<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <div class="w3-container" style="margin-top:80px" id="showcase">
        <h1 class="w3-xxlarge"><b>Shared Content</b></h1>
        <hr style="width:100px;border:5px solid #3f51b5" class="w3-round">
        <p>All contents that users have shared can be found here.</p>
    </div>
    <div style="text-align: left;">
        <button style="margin: 10px;" class="button" onclick="location.href='/upload'">Share files</button>
    </div>
    <div class="w3-container">
        <% if(Object.keys(posts).length===0) { %>
            <span class="w3-large">No one shared any content yet</span>
            <% } else { %>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <!-- <th scope="col">#</th> -->
                            <th scope="col">Name</th>
                            <th scope="col">Author</th>
                            <th scope="col">Timestamp</th>
                            <th scope="col">Description</th>
                            <th scope="col">Attachment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% posts.forEach(function(posts){ %>
                            <tr>
                                <th scope="row">
                                    <%= posts.postName %>
                                </th>
                                <td>
                                    <%= posts.postAuthor %>
                                </td>
                                <td>
                                    <%= posts.timeStamp.toLocaleString('en-TH', { timeZone: 'Asia/Bangkok' }) %>
                                </td>
                                <td>
                                    <%= posts.postDesp %>
                                </td>
                                <td>
                                    <a href=<%=posts.path %>><%= posts.originalName %> </a>
                                </td>
                                <td
                                    style="height: fit-content; width: fit-content; text-align: center; vertical-align: middle;">
                                    <a onclick="deletePost( '<%= posts._id %>' )"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            <% } %>
    </div>
</div>

<script>
    function deletePost(id) {
        fetch('/post/' + id, {
            method: 'DELETE'
        })
            .then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    alert('Only post author can delete post');
                    console.error('Error deleting post : ', response.statusText)
                }
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });
    }
</script>


</html>